# Icarus Verilog compiled simulation binaries
*.out
*.vvp
alu_sim

# Ignore Icarus Verilog compiled executables
*_sim

# Ignore GTKWave waveform files
*.vcd

# Waveform dump files
*.vcd

# Quartus build directories and reports (for later)
db/
incremental_db/
output_files/
*.rpt
*.summary
*.sof
*.pof